<a class="list-group-item clearfix" 
    style="cursor: pointer;"
    [routerLink]="[recipe.id]"
    routerLinkActive="active">
    <div class="media">
        <div class="media-body">
            <h4 class="list-group-item-heading media-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <div class="media-right">
            <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="media-object" style="max-height: 80px;">
        </div>
    </div>
</a>