input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin: 0;
    display: block;
    line-height: 12px;
}

button.btn {
    margin-right: 5px;
}